#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.App {
  width: 100%;
  max-width: 100%;
}

.layoutContainer {
  display: grid;
  gap: 24px;
}

.deployment {
  padding: 16px 12px;
  border: 2px solid black;
}

.deployment:nth-child(4n + 1) {
  background-color: var(--red4);
  border-color: var(--red8);
  color: var(--red12);
}

.deployment:nth-child(4n + 1) .table th {
  background-color: var(--red6);
}

.deployment:nth-child(4n + 1) .table th,
.deployment:nth-child(4n + 1) .table td,
.deployment:nth-child(4n + 1) .deploymentChain {
  border-color: var(--red8);
}

.deployment:nth-child(4n + 2) {
  background-color: var(--green4);
  border-color: var(--green8);
  color: var(--green12);
}

.deployment:nth-child(4n + 2) .table th {
  background-color: var(--green6);
}

.deployment:nth-child(4n + 2) .table th,
.deployment:nth-child(4n + 2) .table td,
.deployment:nth-child(4n + 2) .deploymentChain {
  border-color: var(--green8);
}

.deployment:nth-child(4n + 3) {
  background-color: var(--blue4);
  border-color: var(--blue8);
  color: var(--blue12);
}

.deployment:nth-child(4n + 3) .table th {
  background-color: var(--blue6);
}

.deployment:nth-child(4n + 3) .table th,
.deployment:nth-child(4n + 3) .table td,
.deployment:nth-child(4n + 3) .deploymentChain {
  border-color: var(--blue8);
}

.deployment:nth-child(4n + 4) {
  background-color: var(--gray4);
  border-color: var(--gray8);
  color: var(--gray12);
}

.deployment:nth-child(4n + 4) .table th {
  background-color: var(--gray6);
}

.deployment:nth-child(4n + 4) .table th,
.deployment:nth-child(4n + 4) .table td,
.deployment:nth-child(4n + 4) .deploymentChain {
  border-color: var(--gray8);
}

.deploymentTitle {
  margin: 0;
  text-transform: capitalize;
}

.deploymentChain {
  padding-top: 16px;
}

.deploymentChain + .deploymentChain {
  border-top: 1px solid black;
}

.deploymentChain__name {
  margin: 0 0 12px;
}

.chainBlock {
  width: 100%;
  max-width: 100%;
  border: 1px solid white;
  border-radius: 2px;
  overflow: hidden;
}

.chainBlock__title {
  margin: 0;
  padding: 16px;
}

.chainBlock__table-wrapper {
  width: 100%;
  max-width: 100%;
  padding-bottom: 24px;
  overflow: scroll;
}

.deploymentTabs {
  display: flex;
  gap: 24px;
  max-width: 100%;
  flex-wrap: wrap;
}
